@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

body {
  font-family: Raleway, "Sans serif";
  margin: 0;
}


/* HEADER */

header {
  display: grid;
  max-width: 1440px;
  margin: auto;
  align-items: center;
}

@media screen and (min-width: 601px){
  header {
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "logo . navbar button";
    }
  header nav .navLink[data-active=true] {
    border-top: 3px solid #0065FC;
    }
  header nav {
    grid-area: navbar;
    display: flex;
    }
  header nav a:hover {
    border-top: 3px solid rgb(0, 101, 252);
    color: rgb(0, 101, 252);
    }
  header nav .navLink[data-active=true] {
    color: #0065FC; 
    }
}

@media screen and (max-width: 600px){
  header {
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
        "logo . button"
        "navbar navbar navbar"; 
    }
  header nav .navLink {
    border-top: none;
    border-bottom: 3px solid #f2f2f2;
    width: 50%;
    padding-bottom: 15px !important;
    margin-bottom: 10px;
    }
  header nav .navLink[data-active=true] {
    border-bottom-color: #0065FC;
    }
  header nav {
    order: 2;
    display: flex;
    grid-area: navbar;
  }
  header nav a:hover {
    border-bottom: 3px solid rgb(0, 101, 252);
    color: rgb(0, 101, 252);
    }
  header .sign {
    order: 1;
  }
}

header img{
  grid-area: logo;
  padding: 0 30px;
}

header nav .navLink {
  color: rgb(2, 2, 2);
  padding: 30px;
  font-weight: 500;
  text-align: center;
  border-top: 3px transparent solid;
}

header nav a {
  text-decoration: none;
}

header .sign {
  font-weight: 700;
  color: rgb(0, 101, 252);
  grid-area: button;
  display: flex;
  align-items: center;
  padding: 30px;

  text-decoration: none;
}


/* MAIN */

main {
  max-width: 1440px;
  margin: auto;
}


/* SEARCH */

main .search h1 {
  padding-left: 30px;
  font-size: 30px;
  margin-bottom: 0px;
}

main .search .searchText {
  padding-left: 30px;
  margin: 10px 0px;
}

main .search form {
  margin-top: 20px;
  margin-bottom: 30px;
  padding-left: 30px;
}

main .search form span i {
  background-color: rgb(242, 242, 242);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 16px 16px 15px;
}

main .search form input {
  background-color: white;
  font-size: 18px;
  font-family: Raleway;
  font-weight: 500;
  color: black;
  margin-left: -4px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(242, 242, 242);
  border-image: initial;
  padding: 12px;
}

@media screen and (min-width: 601px){
  main .search form button i {
    display: none;
  }
}

@media screen and (max-width: 600px){
  main .search form button span {
    display: none;
  }
  main .search h1 {
    font-size: 25px;
    padding: 0px 20px;
  }
  main .search .searchText {
    padding-bottom: 20px;
    padding-left: 20px;
  }
  main .search form{
    padding-left: 20px;
  }

  main .search .searchFilters h2{
    padding-bottom: 20px;
    padding-left: 20px !important;
  }
  main .search .searchFiltersWrap{
    margin-left: 20px !important;
  }
  main .search .searchResult i{
    margin-left: 20px !important;
  }
}

main .search form button {
  background-color: rgb(0, 101, 252);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  color: white;
  font-size: 18px;
  font-family: Raleway;
  font-weight: 500;
  margin-left: -4px;
  opacity: 1;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  padding: 13px;
}

main .search .searchFilters, .allSearchFiltersWrap {
  display: flex;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

main .search .searchFilters h2 {
  font-size: 25px;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 20px;
  margin: 0px;
}

main .search .searchFiltersWrap {
  margin-left: 30px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(231, 231, 231);
  border-image: initial;
  border-radius: 40px;
  margin-bottom: 15px;
}

main .search .searchFiltersWrap:hover {
  color: rgb(0, 101, 252);
  background-color: rgb(222, 235, 255);
  border-color: rgb(222, 235, 255);
}

main .search .searchFilters div i {
  color: rgb(0, 101, 252);
  background-color: rgb(222, 235, 255);
  border-radius: 50%;
  margin: -2px;
}

main .search .searchFilters div span {
  font-weight: 600;
  padding: 0px 15px 0px 8px;
}

main .search .searchFilters .fa-money-bill-wave {
  padding: 17px 15px;
}

main .search .searchFilters .fa-child {
  padding: 17px 19px;
}

main .search .searchFilters .fa-heart {
  padding: 17px;
}

main .search .searchFilters .fa-dog {
  padding: 17px 16px;
}

main .search .searchResult {
  display: flex;
  margin-bottom: 30px;
}

main .search .searchResult i {
  color: rgb(0, 101, 252);
  padding: 7px 12px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(231, 231, 231);
  border-image: initial;
  border-radius: 50%;
  margin-left: 30px;
}

main .search .searchResult p {
  margin: 5px 0px 0px 10px;
}


/* HOSTING */

main .hosting {
  display: grid;
  grid-template-columns: 6fr 3fr;
  grid-column-gap: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (min-width: 1001px){
  main .hosting .hostingMain .allHostingMainCard {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  main .hosting .hostingMain .allHostingMainCard .one{
    grid-column: 1/2;
    grid-row: 1/2;
  }
  main .hosting .hostingMain .allHostingMainCard .two{
    grid-column: 2/3;
    grid-row: 1/2;
  }
  main .hosting .hostingMain .allHostingMainCard .tree{
    grid-column: 3/4;
    grid-row: 1/2;
  }
  main .hosting .hostingMain .allHostingMainCard .four{
    grid-column: 1/2;
    grid-row: 2/3;
  }
  main .hosting .hostingMain .allHostingMainCard .five{
    grid-column: 2/3;
    grid-row: 2/3;
  }
  main .hosting .hostingMain .allHostingMainCard .six{
    grid-column: 3/4;
    grid-row: 2/3;
  }
}

@media screen and (max-width: 1360px){
  .hosting {
    grid-template-columns: none !important;
  }
  .hostingMain{
    order: 2;
  }
  .hostingPopulaire{
    order: 1;
  }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
  main .hosting .hostingMain .allHostingMainCard {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  main .hosting .hostingMain .allHostingMainCard .one{
    grid-column: 1/2;
    grid-row: 1/2;
  }
  main .hosting .hostingMain .allHostingMainCard .two{
    grid-column: 2/3;
    grid-row: 1/2;
  }
  main .hosting .hostingMain .allHostingMainCard .tree{
    grid-column: 1/2;
    grid-row: 2/3;
  }
  main .hosting .hostingMain .allHostingMainCard .four{
    grid-column: 2/3;
    grid-row: 2/3;
  }
  main .hosting .hostingMain .allHostingMainCard .five{
    grid-column: 1/2;
    grid-row: 3/4;
  }
  main .hosting .hostingMain .allHostingMainCard .six{
    grid-column: 2/3;
    grid-row: 3/4;
  }
}

@media screen and (max-width: 600px){
  main .hosting {
    padding: 0px !important;
  }
  main .hosting .hostingMain{
    background-color: white !important;
  }
  main .hosting .hostingMain .hostingMainCardOne{
    display: block !important;
  }
  main .hosting .hostingMain .hostingMainCardTwo{
    display: block !important;
  }
  main .hosting .hostingMain h2 {
    margin: 30px 0px 15px 30px !important;
  }
  main .hosting .hostingMain .hostingMainCard{
    margin: 0px 0px 0px 0px !important;
    box-shadow: rgb(231, 231, 231) 4px 4px 10px;
    width: auto !important;
  }
  main .hosting .hostingMain .hostingMainViewmore{
    margin-left: 30px !important;
  }
}

main .hosting .hostingMain {
  background-color: rgb(242, 242, 242);
  border-radius: 15px;
}

main .hosting .hostingMain h2 {
  padding: 0;
  margin: 30px 0px 20px 30px;
}

main .hosting .hostingMain .allHostingMainCard {
  display: grid;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  padding: 0px 30px 30px 30px;

}

main .hosting .hostingMain .hostingMainCard {
  background-color: white;
  width: auto;
  height: 200px;
  border-width: 5px;
  border-style: solid;
  border-color: white;
  border-image: initial;
  border-radius: 20px;
}

main .hosting .hostingMain .hostingMainCard:hover {
  transform : scale(1.01);
}

main .hosting .hostingMain .allHostingMainCard a {
  font-weight: 500;
  color: black;
  text-decoration: none;
}

main .hosting .hostingMain .hostingMainCard figure {
  height: 110px;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  position: relative;
  overflow: hidden;
  margin: 0px;
}

main .hosting .hostingMain .hostingMainCard figure img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

main .hosting .hostingMain .hostingMainCard h3 {
  color: black;
  margin: 8px 0px 0px 8px;
}

main .hosting .hostingMain .hostingMainCard p {
  color: black;
  margin: 8px 0px 0px 8px;
}

main .hosting .hostingMain .hostingMainCard div {
  color: rgb(0, 101, 252);
  margin: 8px 0px 8px 8px;
}

main .hosting .hostingMain .hostingMainCardStarBad {
  color: rgb(224, 223, 223);
}

main .hosting .hostingMain .hostingMainViewmore {
  color: black;
  font-weight: 600;
  font-size: 20px;
  margin: 0px 0px 0px 30px;
  text-decoration: none;
}


/* HOSTING POPULAR */

main .hosting .hostingPopular {
  background-color: rgb(242, 242, 242);
  margin-bottom: 0px;
  border-radius: 15px;
}

@media screen and (max-width: 1360px){
  main .hosting .hostingPopular .hostingPopularCard {
    width: auto !important;
  }
  main .hosting .hostingPopular .allPopularCard {
    display: flex;
    padding: 0px 15px;
  }

}

@media screen and (max-width: 1200px){
  main .hosting .hostingPopular .hostingPopularCard {
    width: auto !important;
  }
  main .hosting .hostingPopular .allPopularCard {
    display: block;
  }
}

@media screen and (max-width: 600px){
  main .hosting .hostingPopular{
    border-radius: 0px;
  }
  main .hosting .hostingPopular h2{
    margin: 35px 0px 20px 30px !important;
    padding-right: 30px !important;
  }
  main .hosting .hostingPopular .allPopularCard {
    padding: 0px 0px;
  }
}

main .hosting .hostingPopular h2 {
  margin: 30px 0px 20px 30px;
}

main .hosting .hostingPopular .hostingPopularTitle {
  display: flex;
  justify-content: space-between;
  padding-right: 40px;
}

main .hosting .hostingPopular .hostingPopularCard {
  background-color: white;
  width: 400px;
  height: 140px;
  border-width: 5px;
  border-style: solid;
  border-color: white;
  border-image: initial;
  margin: 15px 30px 30px 30px;
  border-radius: 20px;
}

main .hosting .hostingPopular .hostingPopularCard:hover {
  transform: scale(1.01);
}

main .hosting .hostingPopular a {
  display: flex;
  text-decoration: none;
}

main .hosting .hostingPopular .hostingPopularCard figure {
  width: 130px;
  height: 140px;
  position: relative;
  margin: 0px;
}

main .hosting .hostingPopular .hostingPopularCard img {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

main .hosting .hostingPopular .hostingPopularCard .hostingMainCardDescription {
  margin-left: 20px;
  position: relative;
  width: -webkit-fill-available;
}

main .hosting .hostingPopular .hostingPopularCard .hostingMainCardDescription h3 {
  color: black;
  margin-top: 6px;
  margin-bottom: 5px;
  flex-wrap: wrap;
}

main .hosting .hostingPopular .hostingPopularCard .hostingMainCardDescription p {
  margin-top: 0px;
  color: black;
}

main .hosting .hostingPopular .hostingPopularCard .hostingMainCardDescription .hostingMainCardDescriptionStar {
  position: absolute;
  bottom: 10px;
}

main .hosting .hostingPopular .hostingPopularCard .hostingMainCardDescription i {
  color: rgb(0, 101, 252);
}

main .hosting .hostingPopular .hostingPopularCard .hostingMainCardDescription .hostingMainCardDescriptionStar .hostingPopularCardStarBad {
  color: rgb(224, 223, 223);
}


/* ACTIVITY */

.activity {
  display: grid;
  column-gap: 40px;
  margin-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
}

#activity h2{
  padding-left: 30px;
  margin-top: 50px;
}

.activity .activityCard {
  box-shadow: rgb(231, 231, 231) 4px 4px 10px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
}

.activity .activityCard:hover {
  transform: scale(1.01);
}

.activity a {
  text-decoration: none;
}

.activity .activityCard .activityCardWrapimg {
  position: relative;
  flex: 1;
}

.activity .activityCard .activityCardWrapimg img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.activity .activityCard h3 {
  padding-left: 15px;
  color: black;
}

@media (min-width: 1001px) {
  .activity {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 220px 32px 32px 32px 220px;
  }
  .activityCard1 {
    grid-column: 1/2;
    grid-row: 2/7;
  }
  .activityCard2 {
    grid-column: 2/3;
    grid-row: 2/5;
  }
  .activityCard3 {
    grid-column: 3/4;
    grid-row: 2/7;
  }
  .activityCard4 {
    grid-column: 4/5;
    grid-row: 2/3;
  }
  .activityCard5 {
    grid-column: 2/3;
    grid-row: 6/7;
  }
  .activityCard6 {
    grid-column: 4/5;
    grid-row: 4/7;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1000px) {
  .activity {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 300px 300px;
    row-gap: 30px;
  }
  .activityCard1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .activityCard2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .activityCard3 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .activityCard4 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .activityCard5 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .activityCard6 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}

@media only screen and (max-width: 601px) {
  .activity {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 180px) ;
    row-gap: 20px;
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  .activityCard1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .activityCard2 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .activityCard3 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .activityCard4 {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .activityCard5 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .activityCard6 {
    grid-column: 1/2;
    grid-row: 6/7;
  }
  #activity h2{
    padding-left: 30px !important;
  }
}


/* FOOTER */

footer {
  background-color: rgb(242, 242, 242);
  width: auto;
}

@media screen and (max-width: 850px){
  footer .Column {
    flex-wrap: wrap;
  }
  footer .footerColumn{
    width: 100% !important;
  }
}

footer .Column {
  display: flex;
  flex-direction: row;
  width: 1440px;
  max-width: 100%;
  margin: auto;
}

footer .footerColumn {
 width: 30%;
 padding: 10px 40px;
}

footer .footerColumn a {
  color: black;
  margin-bottom: 15px;
  text-decoration: none;
  display: block;
}